{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="no">
 <head>
  <meta charset="utf-8">
  <meta name="description" content="Opptakssteder (locations) for norske film- og fjernsynsproduksjoner.">
  <meta name="keywords" content="opptakssted, location, film, spillefilm, fjernsyn, tv-serie, serier, hvor tatt opp, spilt inn, innspilling, scenografi, norwegian, norsk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="icon" href="{% static "video_16.png" %}"> -->
  <link href="https://fonts.googleapis.com/css?family=Fauna+One|Oleo+Script|Fugaz+One|Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

  <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet">

  <title>Norske opptakssteder</title>
 </head>

 <body>
  {% block page %}{% endblock %}
 </body>
</html>