{% extends "base.html" %}

{% block document %}
 <!-- Page -->
	<section id="page">
	 <!-- Header -->
	 <section id="header" class="{% block header-class %}{% endblock %}">{% block header %}{% endblock %}</section>

	 <!-- Menu -->
	 <nav id="menu" class="{% block menu-class %}{% endblock %}">{% block menu %}{% endblock %}</nav>

	 <!-- Content -->
	 <section id="content" class="{% block content-class %}{% endblock %}">{% block content %}{% endblock %}</section>
	</section>

	<!-- Footer -->
	<footer><a href="/">Norske opptakssteder</a> | <a href="http://www.petterhj.net">Petter Holt Juliussen</a> | <a href="https://github.com/petterhj/django-norloc">GitHub</a></footer>
{% endblock %}