{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="no">
 <head>
  <meta charset="utf-8">
  <meta name="description" content="Opptakssteder (locations) for norske film- og fjernsynsproduksjoner.">
  <meta name="keywords" content="opptakssted, location, film, spillefilm, fjernsyn, tv-serie, serier, hvor tatt opp, spilt inn, innspilling, scenografi, norwegian, norsk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="icon" href="{% static "video_16.png" %}"> -->
  <link href="https://fonts.googleapis.com/css?family=Monda|Unica+One|Noto+Serif|Vollkorn" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   
  <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet">
  <link type="text/css" href="{% static "css/tagify.css" %}" rel="stylesheet">
  <link type="text/css" href="{% static "css/leaflet.draw.css" %}" rel="stylesheet">
  <link type="text/css" href="{% static "css/leaflet.easybutton.css" %}" rel="stylesheet">

  <script language="javascript"> 
    var DJANGO_USER = "{{user.is_authenticated|yesno:"true,false"}}";
  </script>

  <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.hotkeys.js" %}"></script>
  <script type="text/javascript" src="{% static "js/handlebars.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/leaflet.js" %}"></script>
  <script type="text/javascript" src="{% static "js/leaflet.draw.js" %}"></script>
  <script type="text/javascript" src="{% static "js/leaflet.easybutton.js" %}"></script>
  <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/tagify.min.js" %}"></script>
  
  <script type="text/javascript" src="{% static "js/norloc.js" %}"></script>
  <script type="text/javascript" src="{% static "js/norloc.map.js" %}"></script>
  <script type="text/javascript" src="{% static "js/norloc.tagify.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main.js" %}"></script>

  <title>{% block title %}{% endblock %}Norske opptakssteder</title>
 </head>

 <body>
  <!-- Caption -->
  <section id="caption">
   <nav>
    <a href="{% url 'index' %}"><span class="hide-small">NO</span><span class="hide-handheld">Norske opptakssteder</span></a><span class="accent">&#9642;</span> 
    {% block navigation %}{% endblock %}
   </nav>
  </section>
  
  <!-- Document -->
  <section id="document" data-view="{% block view %}{% endblock %}" data-content-pk="{% block content_pk %}{% endblock %}">
   {% block document %}{% endblock %}
  </section>
 </body>
</html>