{% extends "base.html" %}

{% block view %}director{% endblock %}
{% block content_pk %}{{ director.pk }}{% endblock %}


{# Navigation #}
{% block navigation %}
 <a href="{% url 'index' %}">Regissører</a> <span class="accent">&raquo;</span> {{director.name}}
{% endblock %}


{# Header #}
{% block header %}
 {% if director.headshot %}
  <img src="{{director.headshot.url}}">
 {% endif %}
 <h1>{{director.name}}</h1>
 <p>
  {{director.bio|safe}}{% if director.bio_credit %} <span class="source">&mdash; {{director.bio_credit}}</span>{% endif %}
 </p>
 <div class="meta">
  <span class="tag" title="Filmer"><i class="zmdi zmdi-movie-alt"></i>{{director.production_set.all|length}} produksjoner</span>
 </div>
 <div class="meta right">
  {% if director.imdb_id %}
   <a href="https://www.imdb.com/name/{{director.imdb_id}}" target="_blank">IMDb</a>
  {% endif %}
 </div>
{% endblock %}


{# Content #}
{% block content %}
 {% for production in director.production_set.all %}
  <div class="production {%if production.locations|length == 0 %}faded{%endif%}" data-href="{%url 'production' production.slug%}" title="{{production.title}} ({{production.release.year}})">
   {%if production.poster %}
    <img src="{{production.poster.url}}">
   {%endif%}
   <span class="title">
    <a href="{%url 'production' production.slug %}">{{production.title}}</a>
   </span>
  </div>
 {% endfor %}
 </section>
{% endblock %}