{% extends "base.html" %}

{% block view %}error{% endblock %}

{% block navigation %}
 Feil ({{ status_code }})
{% endblock %}

{% block page %}
 <div class="cover-image">
  <img src="/media/shots/uQhBjkogTs-RfVZjXICtHg.jpg">
  <div class="heading">
   <h1>{% if title %}{{ title }}{% else %}Feil{% endif %} <span class="code">&mdash; {{ status_code }}</span></h1>
   <h2>{% if message %}{{ message }}{% else %}Du venner deg til det.{% endif %}</h2>
  </div>
  <div class="caption">
   <h1><a href="{% url 'production' 'film' 'den-brysomme-mannen' %}">Den brysomme mannen</a> <span class="year">(2006)</span></h1>
   <h2>Nydalen stasjon, Nydalen, Oslo</h2>
 </div>
</div>
{% endblock %}