{% extends "base.html" %}

{% block view %}import_production{% endblock %}
{% block title %}Legg til produksjon | {% endblock %}

{# Navigation #}
{% block navigation %}
 <a href="{% url 'index' %}">Produksjoner</a> <span class="accent">&raquo;</span> Legg til

 {% if user.is_authenticated %}
  <a href="#" class="right icon abort" title="Avbryt"><i class="zmdi zmdi-close"></i></a>
 {% endif %}
{% endblock %}


{# Header #}
{% block header %}
 {% if user.is_authenticated %}
  <h1>Legg til produksjon</h1>
  <!-- <p class="center">Kun norske produksjoner.</p> -->
  <form name="search_production">
   <input type="text" name="title" placeholder="Tittel" value="Sønner">
   <button type="submit" name="search">Søk</button>
  </form>
 {% endif %}
{% endblock %} 


{# Content #}
{% block content %}
 <div id="focused"></div>

 {% verbatim %}
 <script id="production-result-template" type="text/x-handlebars-template">
   <div class="production faded minified" data-tmdb-id="{{tmdb_id}}">
    <div class="poster">
     {{#if poster}}<img src="{{poster}}">{{/if}}
    </div>
    <div class="details">
     <h2>
      {{title}} <span class="year">({{split release separator="-" index=0}})</span>
      <span class="add hidden" title="Velg"><i class="zmdi zmdi-plus-circle-o"></i></span>
     </h2>
     <h4></h4>
     <p>{{overview}}</p>
     <div class="meta">
      <span class="tag" title="Permiere"><i class="zmdi zmdi-calendar"></i><span>{{release}}</span></span>
      <span class="tag countries uppercase hidden" title="Land"><i class="zmdi zmdi-flag"></i><span></span></span>
      <span class="tag runtime hidden" title="Lengde"><i class="zmdi zmdi-time"></i><span></span> min.</span>
     </div>
    </div>
   </div>
 </script>
 {% endverbatim %}
{% endblock %}