{% extends "base_grid.html" %}

{% block view %}index{% endblock %}


{# Navigation #}
{% block navigation %}
 <a href="{%url 'productions' %}">Produksjoner</a> | 
 <a href="{%url 'locations' %}">Opptakssteder</a> |
 <a href="{%url 'people' %}">Folk</a> |
 <a href="">Selskaper</a> |
 <a href="{%url 'map' %}">Kart</a>

 {% if user.is_authenticated %}
  <a href="{%url 'import_production' %}" class="right icon" title="Legg til produksjon"><i class="zmdi zmdi-plus"></i></a>
 {% endif %}
{% endblock %}


{# Header #}
{% block header-content %}
 <div class="title">
  {% include "header_search.html" with title="Norsk opptakssteder" placeholder="Tittel, regissør, opptakssted..." %}
 </div>
{% endblock %}


{# Menu #}
{% block menu %}{# No menu #}{% endblock %}


{# Content #}
{% block content %}
 {% for production in productions %}
  {% include "grid_item_production.html" with production=production %}
 {% endfor %}
{% endblock %}