{% extends "base.html" %}

{% block navigation %}
 <a href="">Filmer</a> | 
 <a href="">Serier</a> |
 <a href="">Opptakssteder</a> |
 <a href="">Regissører</a> |
 <a href="">Produksjonsselskaper</a> |
 <a href="{%url 'map' %}">Kart</a>
{% endblock %}

{% block page %}
 <!-- Caption -->
 <section class="caption">
  
  <div class="admin"><i class="zmdi zmdi-plus"></i></div>
 </section>

 <!-- Productions -->
 <section class="productions">
  {% for production in productions %}
   <div class="production {%if production.locations|length == 0 %}faded{%endif%}">
    {%if production.poster %}
     <img src="{{production.poster.url}}">
    {%endif%}
    <span class="title">
     <a href="{%url 'production' production.slug%}">{{production.title}}</a>
    </span>
   </div>
  {% endfor %}
 </section>

{% endblock %}