{% extends "page.html" %}

{% load thumbnail %}

<!-- Cover -->
{% block cover %}
 {% thumbnail productions.all.1.backdrop "970" as backdrop %}
  <div class="search" style="background-image: url('{{ backdrop.url }}');">
   <div class="field">
    <input type="text" placeholder="Film, TV-serie, sted"> 
    <i class="fa fa-search"></i>
   </div>
  </div>
 {% endthumbnail %}
{% endblock %}

<!-- Content -->
{% block content %}
 {% if productions %}
  <!-- Productions -->
  <div class="row">
   {% for production in productions %}
    <div class="medium-6 columns">
     <!-- Production -->
     <div class="card production {% if production.location_count == 0 %}fade{% endif %}">
      <a href="{% url 'production' production.slug %}"><h1>{{ production.title }} ({{ production.release.year }})</h1></a>
      <i class="type fa fa-{% if production.type == "film" %}film{% else %}desktop{% endif %}"></i>
      <a href="#"><h5>{{ production.directors.all|join:", " }}</h5></a>
      {% if production.backdrop %}
       {% thumbnail production.backdrop "450" as backdrop %}
        <div class="thumb" style="background-image: url('{{ backdrop.url }}');"></div>
       {% endthumbnail %}
      {% else %}
       <div class="thumb"></div>
      {% endif %}
      <div class="description">
       {% if production.poster %}
        {% thumbnail production.poster "65x90" crop="center" as poster %}
         <img src="{{ poster.url }}" class="poster">
        {% endthumbnail %}
       {% endif %}
       
       <div{% if not production.poster %} class="noposter" {% endif %}>
        <p class="truncate">{{ production.summary }}</p>
        <!-- Scene count -->
        {% with count=production.scene_count %}
         <span class="label radius {% if count == 0 %}alert{% endif %}" title="Scener"><i class="fa fa-video-camera"></i> {{ count }}</span>
        {% endwith %}
        <!-- Location count -->
        {% with count=production.location_count %}
         <span class="label radius {% if count > 0 %}success{% else %}alert{% endif %}" title="Opptakssteder"><i class="fa fa-map-marker"></i> {{ count }}</span>
        {% endwith %}
       </div>
      </div>
     </div>
    </div>
   {% endfor %}
  </div>

  <!-- Quick links -->
  <div class="row quicklinks">
   <div class="small-12 columns">
    <i class="fa fa-video-camera"></i> <a href="{% url 'productions' %}">Flere produksjoner</a>
    <i class="fa fa-search"></i> <a href="">Søk</a>
   </div>
  </div>
 {% endif %}
{% endblock %}