{% extends "base_page.html" %}

{% load staticfiles %}
{% load markdownify %}

{% block view %}location{% endblock %}
{% block content_pk %}{{ location.pk }}{% endblock %}
{% block title %}{{ location.address }} | {% endblock %}

{# Navigation #}
{% block navigation %}
 <a href="{% url 'locations' %}">Opptakssteder</a> <span class="accent">&raquo;</span> <a href="{% url 'locations' location.county %}">{{ location.county }}</a> <span class="accent">&raquo;</span> <a href="{% url 'locations' location.county location.place_slug %}">{{ location.place }}</a> <span class="accent">&raquo;</span> {{ location.address }}
{% endblock %}


{# Header #}
{% block header-class %}{% endblock %}
{% block header %}
 {% if location.photo %}
  <img src="{{ location.photo.url }}" class="photo" alt="photo" title="">
 {% endif %}
 <h1>{{ location.address }}</h1>
 <h3>{{ location.place }}</h3>
 <h4>{{ location.county }}</h4>
 <p>
  {{ location.description|markdownify }}{% if location.description_credit %} <span class="source">&mdash; {{ location.description_credit }}</span>{% endif %}
 </p>
{% endblock %}


{# Content #}
{% block content-class %}{% endblock %}
{% block content %}
 
{% endblock %}