{% extends "base_page.html" %}

{% load staticfiles %}

{% block view %}locations{% endblock %}
{% block title %}Steder | {% endblock %}


{# Navigation #}
{% block navigation %}
 {% if not filter %}
  Opptakssteder
 {% else %}
  <a href="{% url 'locations' %}">Steder</a> <span class="accent">&raquo;</span> {{filter}}
 {% endif  %}

 {% if user.is_authenticated %}
  <!--a href="{%url 'import_production' %}" class="right icon" title="Legg til production"><i class="zmdi zmdi-plus"></i></a-->
 {% endif %}
{% endblock %}


{# Header #}
{% block header-class %}{% endblock %}
{% block header %}{% endblock %}


{# Menu #}
{% block menu %}
 <span class="group">Fylke: 
  <select>
   <option value="all">Alle</option>
   {% for county_slug, county in counties %}
    <option value="{{ county_slug }}">{{ county }}</option>
   {% endfor %}
  </select>
 </span>
{% endblock %}


{# Content #}
{% block content-class %}grid{% endblock %}
{% block content %}
 {% for location in locations %}
  {% include "grid_item_location.html" with location=location %}
 {% endfor %}
{% endblock %}