{% extends "base_page.html" %}

{% load staticfiles %}
{% load markdownify %}

{% block view %}location{% endblock %}
{% block content_pk %}{{ location.pk }}{% endblock %}
{% block title %}{{ location.address }} | {% endblock %}

{# Navigation #}
{% block navigation %}
 <a href="{% url 'locations' %}">Steder</a> <span class="accent">&raquo;</span> <a href="{% url 'locations' location.county %}">{{ location.get_county_display }}</a> <span class="accent">&raquo;</span> <a href="{% url 'locations' location.county location.place_slug %}">{{ location.place }}</a> <span class="accent">&raquo;</span> {{ location.address }}

 {% if edit_mode %}
  <a href="{% url 'location' location.county location.place_slug location.slug %}" class="right icon" title="Avbryt endringer"><i class="zmdi zmdi-close"></i></a>
  <a href="" class="right icon" title="Lagre endringer"><i class="zmdi zmdi-save"></i></a>
 {% else %}
  {% if user.is_authenticated %}
   <a href="?edit=true" class="right icon" title="Rediger sted"><i class="zmdi zmdi-edit"></i></a>
  {% endif %}
 {% endif %}
{% endblock %}


{# Header #}
{% block header-class %}{% endblock %}
{% block header %}
 {% if location.photo %}
  <a href="{{ location.photo.photo.url }}" data-lightbox="location" data-title="{{ location.photo.caption }}"><img src="{{ location.photo.photo.url }}" class="photo" alt="{{ location.photo.title }}" title="{{ location.photo.caption }}"></a>
 {% endif %}

 {% if not edit_mode %}
	 <h1>{{ location.address }}</h1>
	 <h3>{{ location.place }}, {{ location.get_county_display }}</h3>
	 <h4><!-- {{ location.county }} --></h4>
	 <p>
	  {{ location.description|markdownify }}{% if location.description_credit %} <span class="source">&mdash; {{ location.description_credit }}</span>{% endif %}
	 </p>
	 {% if location.photo_set.count > 1 %}
	  <div class="gallery">
	   {% for photo in location.photo_set.all|slice:"1:" %}
	    <a href="{{ photo.photo.url }}" data-lightbox="location" data-title="{{ photo.caption }}">
	   	 <div class="image" title="{{ photo.caption }}" style="{% if location.photo %}background-image: url('{{ photo.photo.url }}');{% endif %}"></div>
	    </a>
	   {% endfor %}
	  </div>
	 {% endif %}
	{% else %}
  <form id="location_form" method="post" enctype="multipart/form-data">
  	{{ form.media }}
   {% csrf_token %}

   {{ form.address }}

   <div class="geography">
    {{ form.place }}
    {{ form.county }}
    {{ form.location_type }}
   </div>

   {{ form.description }}
   {{ form.description_credit }}
  </form>
 {% endif %}
{% endblock %}


{# Content #}
{% block content-class %}{% endblock %}
{% block content %}
 {% verbatim %}
 <script id="production-template" type="text/x-handlebars-template">
  <div class="scene-block production {{#if uncertain}}uncertain{{/if}}">
  	<h2><a href="{{url}}">{{title}}</a></h2>

  	<div class="details compact top">
    <img src="{{poster}}" class="poster" alt="poster">
    <div class="summary">
     {{#if uncertain}}
      <p><span class="accent">En eller flere scener knyttet til denne produksjonen er usikker, sannsynligvis feil!</span></p>
     {{/if}}
     {{#if summary}}
      <p>{{{summary}}}{{#if summary_credit}} <span class="source">&mdash; {{summary_credit}}</span>{{/if}}</p>
     {{/if}}
     {{#if directors}}
      <h3>{{join directors delimiter=", "}}</h3>
     {{/if}}
    </div>
   </div>

  	<div class="scenes">
    {{#each scenes}}
     <div class="scene {{#if uncertain}}uncertain{{/if}}">
      {{#each shots}}
       <div class="shot {{shot_size double ../shot_count}}">
        <a href="{{image}}" data-lightbox="location-{{../pk}}" data-title="{{../../title}}{{#if timecode}} - {{timecode timecode}}{{/if}}"><img src="{{image}}" class="shot"></a>
        {{#if timecode}}<span class="timecode">{{timecode timecode}}</span>{{/if}}
       </div>
      {{/each}}
      {{#if description}}
       <p>{{description}}</p>
      {{/if}}
     </div>
    {{/each}}
   </div>
  </div>
 </script>
 {% endverbatim %}
{% endblock %}