{% extends "base_full.html" %}

{% block view %}map{% endblock %}


{# Navigation #}
{% block navigation %}
 Kart
{% endblock %}


{# Header #}
{% block header-class %}search{% endblock %}
{% block header %}{% endblock %}


{# Content #}
{% block content-class %}{% endblock %}
{% block content %}
 <div id="map"></div>

 <!-- Template: Location details edit -->
 {% if user.is_authenticated %}
  {% verbatim %}
  <script id="location-details-edit-template" type="text/x-handlebars-template">
    <div class="location-details-control leaflet-control">
     <div class="location">
      <div class="address">
       <input type="text" value="{{address}}" placeholder="Sted/Adresse">
       <input type="text" value="{{municipality}}" placeholder="By/Bydel">
       <input type="text" value="{{county}}" placeholder="Fylke">
       <input type="button" name="save" value="Lagre">
      </div>
      <textarea name="description">{{description}}</textarea>
     </div>
    </div>
  </script>
  {% endverbatim %}
 {% endif %}

{% endblock %}
