{% extends "base_full.html" %}

{% block view %}map{% endblock %}


{# Navigation #}
{% block navigation %}
 Kart

 {% if user.is_authenticated %}
  <a href="?edit=true" class="right icon" title="Rediger kart"><i class="zmdi zmdi-edit"></i></a>
 {% endif %}
{% endblock %}


{# Header #}
{% block header-class %}search{% endblock %}
{% block header %}{% endblock %}


{# Content #}
{% block content-class %}{% endblock %}
{% block content %}
 <div id="map"></div>

 <!-- Template: Location details -->
 {% verbatim %}
  <script id="location-details-template" type="text/x-handlebars-template">
   {{#if photo}}
    <div style="background-image: url('{{photo}}')" class="photo"></div>
   {{/if}}
   <a href="{{url}}"><h1>{{address}}</h1></a>
   <h3>{{place}}, {{county}}</h3>
   {{description}}

   <div class="related-objects">
    {{#each productions}}
     <a href="{{url}}">
      <div class="production">
       <img src="{{poster}}" class="poster">
       <div class="title">
        <h2>{{title}}</h2>
        <h3>{{join directors delimiter=", "}}</h3>
       </div>
      </div>
     </a>
     {{#if scenes}}
      <div class="gallery">
       {{#each scenes}}
        {{#each shots}}
         <a href="{{image}}" data-lightbox="location" data-title="{{../../title}}{{#if ../description}}: {{../description}}{{/if}}">
         <div class="image" title="" style="background-image: url('{{image}}');"></div>
        </a>
        {{/each}}
       {{/each}}
      </div>
     {{/if}}
    {{/each}}
   </div>    
  </script>
 {% endverbatim %}

 
 {% if user.is_authenticated %}
  {% verbatim %}
   <!-- Template: Location select edit -->
   <script id="location-select-edit-template" type="text/x-handlebars-template">
    <h1>Sted:</h1>
    <select name="location">
     {{#each locations}}
      <option value="{{pk}}" {{#if bounds}}disabled="true"{{/if}}>{{full_address}}</option>
     {{/each}}
    </select>
    <button name="select_location">Velg</button>
   </script>

  {% endverbatim %}
 {% endif %}

{% endblock %}
