<div class="row pagination">
 <div class="small-12 columns pagination-centered">
  <ul class="pagination">
   <li class="arrow{% if not has_previous %} unavailable{% endif %}"><a href="{% if has_previous %}{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ previous }}{% endif %}">&laquo;</a></li>

   {% if not in_leading_range %}
    {% for p in pages_outside_trailing_range %}
     <li><a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ p }}">{{ p }}</a></li>
    {% endfor %}
    <li class="unavailable"><a href="">&hellip;</a></li>
   {% endif %}

   {% for p in page_range %}
    <li{% if p == page %} class="current"{% endif %}><a  href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ p }}">{{ p }}</a></li>
   {% endfor %}

   {% if not in_trailing_range %}
    <li class="unavailable"><a href="">&hellip;</a></li>
    {% for p in pages_outside_leading_range reversed %}
     <li><a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ p }}">{{ p }}</a></li>
    {% endfor %}
   {% endif %}

   <li class="arrow{% if not has_next %} unavailable{% endif %}"><a href="{% if has_next %}{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ next }}{% endif %}">&raquo;</a></li>
  </ul>
 </div>
</div>