{% extends "base_grid.html" %}

{% block view %}people{% endblock %}
{% block title %}Folk | {% endblock %}


{# Navigation #}
{% block navigation %}
 {% if not filter %}
  Folk
 {% else %}
  <a href="{% url 'people' %}">Folk</a> <span class="accent">&raquo;</span> {{filter}}
 {% endif  %}

 {% if user.is_authenticated %}
  <a href="{%url 'import_person' %}" class="right icon" title="Legg til person"><i class="zmdi zmdi-plus"></i></a>
 {% endif %}
{% endblock %}


{# Header #}
{% block header %}{# No header #}{% endblock %}


{# Menu #}
{% block menu-content %}
 <span class="group">Avdeling: 
  <a href="{% url 'people' %}">Alle</a> &#9642; 
  <a href="{% url 'filtered_people' 'regi' %}">Regi</a> &#9642; 
  <a href="{% url 'filtered_people' 'manus' %}">Manus</a> &#9642; 
  <a href="{% url 'filtered_people' 'foto' %}">Foto</a></span>
{% endblock %}


{# Content #}
{% block content %}
 {% for person in people %}
  {% include "grid_item_person.html" with person=person %}
 {% endfor %}
{% endblock %}