{% extends "base.html" %}
{% load custom_tags %}

{% block view %}production{% endblock %}
{% block content_pk %}{{ production.pk }}{% endblock %}
{% block title %}{{production.title}} ({{production.release.year}}) | {% endblock %}

{# Navigation #}
{% block navigation %}
 <a href="{% url 'index' %}">Produksjoner</a> <span class="accent">&raquo;</span> {{production.title}}

 {% if edit_mode %}
  <a href="{%url 'production' production.slug %}" class="right icon" title="Avbryt endringer"><i class="zmdi zmdi-close"></i></a>
  <a href="" class="right icon" title="Lagre endringer"><i class="zmdi zmdi-save"></i></a>
 {% else %}
  {% if user.is_authenticated %}
   <a href="?edit=true" class="right icon" title="Rediger produksjon"><i class="zmdi zmdi-edit"></i></a>
  {% endif %}
 {% endif %}
{% endblock %}


{# Header #}
{% block header %}
 <!-- Poster -->
 {% if production.poster %}
  <img src="{{production.poster.url}}">
 {% endif %}
 <!-- Title -->
 {% if edit_mode %}
  <input type="text" name="title" placeholder="Tittel" value="{{production.title}}">
 {% else %}
  <h1>{{production.title}}</h1>
 {% endif %}
 <!-- Release -->
 {% if edit_mode %}
  <input type="text" name="release" placeholder="Premiere" value="{{production.release|date:"Y-m-d"}}">
 {% else %}
  <h3>{{production.release.year}}</h3>
 {% endif %}
 <!-- People -->
 {% if edit_mode %}
  <div class="people">
   <label for="directors" title="Regi"><i class="zmdi zmdi-comment-video"></i></label>
   <input name="directors" data-icon="\f288" class="tagify" value="{{ production.directors|as_tags:"name,headshot" }}">
   <label for="writers" title="Manus"><i class="zmdi zmdi-edit"></i></label>
   <input name="writers" class="tagify" value="{{ production.writers|as_tags:"name,headshot" }}">
   <label for="photographers" title="Foto"><i class="zmdi zmdi-videocam"></i></label>
   <input name="photographers" class="tagify" value="{{ production.photographers|as_tags:"name,headshot" }}">
  </div>
 {% else %}
  <h4>
   {% for director in production.directors.all %}
    <a href="{%url 'person' director.slug %}" title="Regissør">{{director.name}}</a>
   {% endfor %}
  </h4>
  <h4>
   {% if production.writers.count > 0 %}
    <i class="zmdi zmdi-edit" title="Manus"></i>
    {% for writer in production.writers.all %}
     <a href="{%url 'person' writer.slug %}" title="Manus">{{writer.name}}</a>
    {% endfor %}
   {% endif %}
   {% if production.photographers.count > 0 %}
    <i class="zmdi zmdi-videocam" title="Foto"></i>
    {% for photographer in production.photographers.all %}
     <a href="{%url 'person' photographer.slug %}" title="Foto">{{photographer.name}}</a>
    {% endfor %}
   {% endif %}
  </h4>
 {% endif %}
 <!-- Summary -->
 {% if edit_mode %}
  <textarea name="summary" placeholder="Sammendrag">{{production.summary|safe}}</textarea>
  <input name="summary_credit" placeholder="Kreditering (sammendrag)">

  <div class="production_ids">
   <div>
    <input name="imdb_id" placeholder="IMDb ID" value="{{production.imdb_id}}">
    <a href="https://www.imdb.com/" target="_blank">Besøk</a>
    {% if production.imdb_id %}
     | <a href="https://www.imdb.com/title/{{production.imdb_id}}" target="_blank">Detaljer</a> 
     | <a href="">Oppdater</a>
    {% endif %}
   </div>
   <div>
    <input name="tmdb_id" placeholder="TMDb ID" value="{{production.tmdb_id}}">
    <a href="https://www.themoviedb.org/" target="_blank">Besøk</a>
    {% if production.tmdb_id %}
     | <a href="https://www.themoviedb.org/movie/{{production.tmdb_id}}" target="_blank">Detaljer</a> 
     | <a href="">Oppdater</a>
    {% endif %}
   </div>
   <div>
    <input name="nbdb_id" placeholder="NBdb ID" value="{{production.nbdb_id}}">
    <a href="https://www.nb.no/filmografi/" target="_blank">Besøk</a>
    {% if production.nbdb_id %}
     | <a href="https://www.nb.no/filmografi/show?id={{production.nbdb_id}}" target="_blank">Detaljer</a> 
     | <a href="">Oppdater</a>
    {% endif %}
   </div>
   {% if production.type == "show" %}
    <div>
     <input name="tvdb_id" placeholder="TVdb ID" value="{{production.tvdb_id}}">
     {% if production.tvdb_id %}<a href="">Detaljer</a>{% endif %}
    </div>
   {% endif %}
  </div>
 {% else %}
  <p>
   {{production.summary|safe}}{% if production.summary_credit %} <span class="source">&mdash; {{production.summary_credit}}</span>{% endif %}
  </p>
 {% endif %}
 <div class="meta">
  <span class="tag" title="Premiereår"><i class="zmdi zmdi-calendar-alt"></i><span>{{production.release}}</span></span>
  <span class="tag" title="Lengde"><i class="zmdi zmdi-time"></i><span>{{production.runtime}} min.</span></span>
  <span class="tag" title="Opptakssteder"><i class="zmdi zmdi-pin"></i><span>{{production.locations|length}} opptakssteder</span></span>
 </div>
 <div class="meta right">
  {% if production.producers.count > 0 %}
   <span class="tag"><i class="zmdi zmdi-case"></i>
    {% for company in production.producers.all %}
     <a href="">{{company.name}}</a>
    {% endfor %}
   </span>
  {% endif %}
  {% if production.distributors.count > 0 %}
   <span class="tag"><i class="zmdi zmdi-city-alt"></i>
    {% for company in production.distributors.all %}
     <a href="">{{company.name}}</a>
    {% endfor %}
   </span>
  {% endif %}
 </div>
{% endblock %}


{# Content #}
{% block content %}
 {% verbatim %}
 <script id="location-template" type="text/x-handlebars-template">
  <div class="location double {{#if uncertain}}uncertain{{/if}}">
   <h2>{{full_address}}</h2>

   <div class="scenes">
    {{#each scenes}}
     <div class="scene {{#if uncertain}}uncertain{{/if}}">
      {{#each shots}}
       <!-- <div class="shot {{shot_size2 ../../scene_count ../shot_count @index}}"> -->
       <!-- <div class="shot{{#if double}} double{{/if}}"> -->
       <div class="shot {{shot_size2 double ../shot_count}}">
        <img src="{{image}}" style="">
        {{#if timecode}}<span class="timecode">{{timecode timecode}}</span>{{/if}}
       </div>
      {{/each}}
      {{#if description}}
       <p>{{description}}</p>
      {{/if}}
     </div>
    {{/each}}
   </div>
   <div class="description">
    {{#if uncertain}}
     <p class="accent">En eller flere scener knyttet til denne lokasjonen er usikker, sannsynligvis feil!</p>
    {{/if}}
    {{#if description}}
     <p>{{{description}}}{{#if description_credit}} <span class="source">&mdash; {{description_credit}}</span>{{/if}}</p>
    {{/if}}
    <!--i class="zmdi zmdi-map"></i-->
    <div class="photos">
     {{#each photos}}
      <img src="{{photo}}" alt="{{credit}}{{#if license}} [{{license}}]{{/if}}" title="Fra: {{credit}}{{#if license}} [{{license}}]{{/if}}">
     {{/each}}
    </div>
   </div>
  </div>
 </script>
 {% endverbatim %}
 
 {% if edit_mode %}
  {% verbatim %}
   <script id="tag-template" type="text/x-handlebars-template">
    <div class="tag-content">
     {{#if image}}
      <img src="{{image}}">
     {{/if}}
     <span>{{value}}</span>
    </div>
   </script>
  {% endverbatim %}
 {% endif %}

 {% if user.is_authenticated %}
  <!--div class="location double add">
   <i class="zmdi zmdi-plus-circle"></i>Legg til opptakssted
  </div-->
 {% endif %}
{% endblock %}