{% extends "base.html" %}

{% block view %}production{% endblock %}
{% block content_pk %}{{ production.pk }}{% endblock %}


{# Navigation #}
{% block navigation %}
 <a href="{% url 'index' %}">Produksjoner</a> <span class="accent">&raquo;</span> {{production.title}}
{% endblock %}


{# Header #}
{% block header %}
 {% if production.poster %}
  <img src="{{production.poster.url}}">
 {% endif %}
 <h1>{{production.title}}</h1>
 <h3>{{production.release.year}}</h3>
 <h4>
  {% for director in production.directors.all %}
   <a href="https://www.imdb.com/name/{{director.imdb_id}}" target="_blank">{{director.name}}</a>
  {% endfor %}
 </h4>
 <p>
  {{production.summary|safe}}{% if production.summary_credit %} <span class="source">&mdash; {{production.summary_credit}}</span>{% endif %}
 </p>
 <div class="meta">
  <span class="tag"><i class="zmdi zmdi-calendar-alt"></i>{{production.release}}</span>
  <span class="tag"><i class="zmdi zmdi-time"></i>{{production.runtime}} min.</span>
  <span class="tag"><i class="zmdi zmdi-pin"></i>{{production.locations|length}} opptakssteder</span>
 </div>
{% endblock %}


{# Content #}
{% block content %}
 {% verbatim %}
 <script id="location-template" type="text/x-handlebars-template">
  <div class="location double {{#if uncertain}}uncertain{{/if}}">
   <h2>{{full_address}}</h2>

   <div class="scenes">
    {{#each scenes}}
     <div class="scene {{#if ../uncertain}}uncertain{{/if}}">
      {{#each shots}}
       <!-- <div class="shot {{shot_size2 ../../scene_count ../shot_count @index}}"> -->
       <!-- <div class="shot{{#if double}} double{{/if}}"> -->
       <div class="shot {{shot_size2 double ../shot_count}}">
        <img src="{{image}}" style="">
        {{#if timecode}}<span class="timecode">{{timecode timecode}}</span>{{/if}}
       </div>
      {{/each}}
      {{#if description}}
       <p>{{description}}</p>
      {{/if}}
      <!--div class="meta"><i class="zmdi zmdi-movie-alt"></i><br>00:03:32<br>-<br>00:04:12></div-->
     </div>
    {{/each}}
   </div>
   <div class="description">
    <!--h2>{{full_address}}</h2-->
    {{#if uncertain}}
     <p class="accent">Denne lokasjonen er usikker, sannsynligvis feil!</p>
    {{/if}}
    {{#if description}}
     <p>{{description}}{{#if description_credit}} <span class="source">&mdash; {{description_credit}}</span>{{/if}}</p>
    {{/if}}
    <!--i class="zmdi zmdi-map"></i-->
    <div class="photos">
     {{#each photos}}
      <img src="{{photo}}" alt="{{credit}}{{#if license}} [{{license}}]{{/if}}" title="Fra: {{credit}}{{#if license}} [{{license}}]{{/if}}">
     {{/each}}
    </div>
   </div>
  </div>
 </script>
 {% endverbatim %}

 {% if user.is_authenticated %}
  <!--div class="location double add">
   <i class="zmdi zmdi-plus-circle"></i>Legg til opptakssted
  </div-->
 {% endif %}
{% endblock %}