* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; background: #2B2B2B; }
input, button, textarea, select { border: 0; outline: 0; }

/* ========================================================================
    Header
   ======================================================================== */
input, textarea, select, button {
    margin: 10px;
    padding: 5px 10px; border-radius: 3px;
    font: 1rem 'Vollkorn', serif;
}
button { 
    padding: 10px; cursor: pointer;
}



/* ========================================================================
    Caption
   ======================================================================== */
section.caption { 
	padding: 20px;  overflow: auto;  
	background: #FFF;
	font: 12px/16px 'Unica One', Helvetica, Arial, sans-serif;
	text-align: left; text-transform: uppercase;
	letter-spacing: .1em; color: #333;
}
section.caption a { text-decoration: none; color: #999; }
section.caption a:first-of-type { color: inherit; }
section.caption a:hover { background-color: #ddd; }
section.caption span.accent { color: #c31; }
section.caption i.zmdi { color: #999; }
section.caption i.zmdi:hover { color: #c31; cursor: pointer; }
section.caption > nav { float: left; }
section.caption > nav.admin { float: right; }


section.container,
section.productions { 
	padding: 60px 0;
	/*height: calc(100% - 60px);*/
	display: flex; display: -webkit-flex;
	flex-wrap: wrap; flex-direction: row;
	justify-content: center;
	align-items: auto; align-content: flex-start;
}

section.container > div { padding: 30px; }
section.container > div.full {
    width: 60%; border-radius: 3px;
    background: #323232;
}
section.container h1, h2, h3, h4, h5 { 
	margin: 0 0 10px 0;
    font: 1.2rem 'Unica One', sans-serif; 
    text-transform: uppercase; color: rgba(255, 255, 255, 0.8); 
}
section.container h2 { font-size: 1.2rem; }
section.container h3 { font-size: 1rem; }

section.productions > div.production { 
	/*float: left; margin: 0 0 30px 30px;*/
	width: 180px; height: 267px;
	border-radius: 3px; position: relative;
	background: #333;

	/*flex: 5 0 auto;*/
	margin: 15px;
}

section.container div.search { margin-bottom: 30px; background: pink; }
section.container div.results { padding: 15px 0; }
section.container div.results > div.film { margin: 0 0 15px 0; }


section.productions > div.production.faded { opacity: 0.3; }
section.productions > div.production > img { 
	width: 100%; height: 100%;
	border-radius: inherit; 
}
section.productions > div.production > span.title { 
	position: absolute; bottom: 0; left: 0; 
	display: inline; width: 100%;
	border-bottom-right-radius: inherit; border-bottom-left-radius: inherit;
	background: rgba(0, 0, 0, 0.7); padding: 6px 10px;
	font: 1.1rem 'Unica One', sans-serif;
	text-transform: uppercase; text-align: center;
}
section.productions > div.production > span.title > a { 
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7); 
}
section.productions > div.production > span.title > a:hover { text-decoration: underline; }




/* ========================================================================
   	Header
   ======================================================================== */
section.header { 
	padding: 30px 20% 60px 20%;
	background: #FFF;
	text-align: center; 
}
section.header > img { 
	width: 180px; height: 267px;
	margin-top: 45px; margin-bottom: 25px; 
	border-radius: 4px; 
}
section.header > h1 {
    margin: 20px 20px 20px;
    font: 1.7rem 'Unica One', sans-serif; color: #c31;
    text-transform: uppercase; text-align: center;
}
section.header > h4 { font: 12px/12px 'Unica One', sans-serif; color: #666; }
section.header > h4 > a { color: inherit; text-decoration: none; }
section.header > h4 > a:hover { text-decoration: underline; }
section.header > p {
	margin: 30px auto 30px auto;
	font: 1.2rem 'Vollkorn', serif; color: #666; 
	text-align: justify;
}
section.header > p.center { text-align: center; }
section.header > p > a { color: inherit; text-decoration: none; color: #666; }
section.header > p > a { color: inherit; text-decoration: none; color: #666; }
section.header > p > span.source { color: #999; font-size: 12px; font-style: italic; }

section.header > div.meta { text-align: left; }
section.header > div.meta > span.tag { 
	float: left; margin-right: 9px;
	font: 0.7rem 'Vollkorn', serif; color: rgba(0, 0, 0, 0.6);
	background: #EFEFEF; border-radius: 3px; padding: 2px 7px; 
}
section.header > div.meta > span.tag > i.zmdi { 
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.2);
}

section.header > form { margin: 20px 0 0 0; }
section.header input, 
section.header button { padding: 15px 20px; font-size: 1.3rem; }
section.header input { background: #F2F2F2; }
section.header button { background: #CCC; }


/* ========================================================================
   	Content
   ======================================================================== */
section.content { 
	overflow: auto; display: flex;
	margin: 0 20%; padding: 60px 0;
	flex-direction: row; flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	color: rgba(255, 255, 255, 0.8); 
}

section.content > hr { 
    width: 100%; margin: 30px 0; 
    border: 0; border-bottom: 2px solid rgba(0, 0, 0, 0.2); 
}

/* Card */
section.content > div.card { 
  width: calc(50% - 15px); overflow: auto;
  margin: 15px 0; padding: 25px; 
  border-radius: 3px; background: #323232;
}
section.content > div.card.double { width: 100%; }
section.content > div.card.editable input[type="text"],
section.content > div.card.editable textarea { border-bottom: 1px solid transparent; }
section.content > div.card.editable .meta,
section.content > div.card.editable button { display: none; }
section.content > div.card.editable:hover,
section.content > div.card.editable:hover * { cursor: pointer; }
section.content > div.card.editable:hover,
section.content > div.card.editable.active { background: #383838; }
section.content > div.card.editable.active:hover,
section.content > div.card.editable.active:hover * { cursor: auto; }
section.content > div.card.editable.active input[type="text"],
section.content > div.card.editable.active textarea { border-bottom-color: rgba(255, 255, 255, 0.1); }
section.content > div.card.editable.active .meta,
section.content > div.card.editable.active button { display: inline-block; }
section.content > div.card.editable.active button { cursor: pointer !important; }


/* Card: Production */
div.card.production { overflow: auto; }
div.card.production img { float: left; width: 100px; height: 147px; border-radius: 2px; }
div.card.production div.details { 
	float: left; width: calc(100% - 125px); margin-left: 25px;
}

div.card.production input[type="text"],
div.card.production textarea { 
    margin: 15px 0 0 0; padding: 0 0 3px 0; 
    background: transparent; resize: none;
    color: rgba(255, 255, 255, 0.8);
}
div.card.production input[name="title"],
div.card.production input[name="release"] { margin-top: 0; }
div.card.production input[name="title"] { 
    width: calc(70% - 2px); margin-right: 10px; 
    font: 1.5rem 'Unica One', sans-serif;
}
div.card.production input[name="release"] { 
    float: right; width: calc(25% - 2px); 
    text-align: right; padding: 5px 0 4px 0;
    font: 1.2rem 'Unica One', sans-serif; 
    color: rgba(255, 255, 255, 0.5);
}
div.card.production textarea[name="summary"] { 
    width: 100%; min-height: 120px; 
    color: rgba(255, 255, 255, 0.5);
}
div.card.production span.help-text,
div.card.production input.meta {
    font-size: 0.9rem; color: rgba(255, 255, 255, 0.4);
}
div.card.production input[name="directors"] { width: 100%; }
div.card.production input[name="runtime"] { width: 10%; }
div.card.production input[name$="_id"] { width: 20%; margin-right: 10px; }
div.card.production button { margin: 25px 0 0 0; }
div.card.production button[name="add"] { 
    width: calc(80% - 7px); margin-right: 5px; 
    background: #E84785; color: rgba(255, 255, 255, 0.8); 
}
div.card.production button[name="abort"] { 
    width: calc(20% - 2px); 
    background: #546E7A; color: rgba(255, 255, 255, 0.8); 
}

/* Card: Form */

/*div.card.form {}
div.card.form input[type="text"],
div.card.form input[type="date"],
div.card.form input[type="number"],
div.card.form textarea,
div.card.form select {
    background: #565656; color: rgba(255, 255, 255, 0.8);
}
div.card.form input[type="submit"], div.card.form button {
    background: #E84785; color: rgba(255, 255, 255, 0.8);
}
div.card.form input[type="submit"]:hover, div.card.form button:hover {
    background: #EA4C88; color: rgba(255, 255, 255, 0.9);
}

div.card.form.production div.heading {
    overflow: auto;
}
div.card.form.production div.heading > div.poster {
    width: 150px; height: 220px; margin: 10px;
    padding: 15px; border-radius: 3px;
    background: #565656; color: rgba(255, 255, 255, 0.8);
    float: left;
    background-image: url('http://image.tmdb.org/t/p/original/nulCQs4WEs4lzWMABTs5kkiUgD1.jpg');
    background-size: 100% 100%;
}
div.card.form.production div.heading > div.details {
    width: calc(100% - 170px);
    float: left;
}*/








section.content > div.location.add { 
	padding: 20px 30px; opacity: 0.3;
	font: 1rem 'Unica One', sans-serif; 
	cursor: pointer;
}
section.content > div.location.add:hover { opacity: 1; }
section.content > div.location.add > i.zmdi { margin-right: 15px; color: rgba(255, 255, 255, 0.4); }

section.content > div.location { position: relative; }
section.content > div.location img { box-shadow: none; }
section.content > div.location > div.scenes { 
	display: flex; flex-wrap: wrap; justify-content: space-between; 
	padding: 15px 30px; 
	/*background: #3d3d3d;*/
}
section.content > div.location > div.scenes > div { margin: 15px 0; width: calc(50% - 15px); }
section.content > div.location > div.scenes > div.double { width: 100%; }
section.content > div.location > div.scenes > div > img { width: 100%; border-radius: 3px; }
section.content > div.location > div.scenes > div + p { margin-top: 0; }
section.content > div.location > div.scenes > p { 
	margin: 15px 0;
	font: 0.7rem 'Vollkorn', serif; /*#color: rgba(255, 255, 255, 0.3);*/
}
section.content > div.location > div.scenes > hr { 
	width: 100%; margin: 0 0 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0;
}
/*section.content > div.location > div.scenes > hr:last-of-type { display: none; }*/
section.content > div.location > div.scenes + div.description { padding-top: 0; }
section.content > div.location > div.description { padding: 30px 30px 30px 30px; }
section.content > div.location > div.description > h2 { 
	margin: 0 0 10px 0;
	font: 1.2rem 'Unica One', sans-serif; 
	text-transform: uppercase; color: rgba(255, 255, 255, 0.8); 
}
section.content > div.location > div.description > p { font: 0.9rem 'Vollkorn', serif; margin: 0; }
section.content > div.location > div.description > p > span.source { color: #999; font-size: 12px; font-style: italic; }
section.content > div.location > div.description > i.zmdi { position: absolute; right: 15px; bottom: 15px; color: #666; }
section.content > div.location > div.description > i.zmdi:hover { color: #999; cursor: pointer; }


.my-label {
    position: absolute;
    /*width:1000px;*/
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    border: 0;
    color: #FFF;
}
div.leaflet-control-attribution {
    background: rgba(255, 255, 255, 0.05) !important;
    border-top-left-radius: 3px;
    color: rgba(255, 255, 255, 0.3);
    bottom: 0;
}
div.leaflet-control-attribution > a { color: rgba(0, 255, 0, 0.2); }
.mapShotMarker { 
	width: auto !important; height: auto !important; 
	/*background: #f30e5c; border-radius: 50%; */
}
.mapShotMarker > img { width: 20px; height: 12px; border-radius: 3px; }
.location-details-control {
	top: 10px; left: 55px;
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
}
.location-details-control > div.location {
	width: 500px; height: 147px;
    background: #FFF;
    border-radius: 2px;
}
.location-details-control > div.location input,
.location-details-control > div.location textarea { 
	margin: 10px; background: #EFEFEF;
	padding: 3px 5px;
	border: 0; outline: 0;
	border-radius: 3px; border-bottom: 1px solid #CCC;
}
.location-details-control > div.location input {
	float: left; width: 130px;
	margin-right: 0;
}
.location-details-control > div.location input[type="button"] {
	width: 50px; cursor: pointer;
	border: 1px solid #CCC;
}
.location-details-control > div.location textarea {
	width: calc(100% - 20px); height: 95px;
	margin-top: 0;
}
.location-details-control > div.location input:hover,
.location-details-control > div.location input:focus,
.location-details-control > div.location textarea:hover,
.location-details-control > div.location textarea:focus { border-color: #C31; }


@media (max-width: 700px) {
  section.film { padding-left: 10%; padding-right: 10%; }
  section.scenes { margin-left: 10%; margin-right: 10%; }
}
@media (max-width: 500px) {
  section.film { padding-left: 5%; padding-right: 5%; }
  section.film > p { font-size: 0.8rem; }
  section.content { margin-left: 5%; margin-right: 5%; }
  section.content > div.location > div.description { padding: 0 15px 15px 15px; }
  section.content > div.location > div.scenes { padding: 10px 10px; }
  section.content > div.location > div.scenes > div { margin: 5px 0; width: calc(50% - 5px); }
}