@charset "UTF-8";
/* ========================================================================
	Variables and mixins
   ======================================================================== */
/* ========================================================================
	General
   ======================================================================== */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #1A1919;
}

div#debug {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0px;
  padding: 1px 15px;
  border-radius: 0 0 4px 0;
  background: #FF5722;
  font: 0.5rem "Monda", sans-serif;
  color: white;
}
div#debug span {
  margin-right: 30px;
}
div#debug span.mq {
  position: relative;
  display: inline-block;
  padding-right: 50px;
}
div#debug span.mq:before {
  position: absolute;
  padding-left: 30px;
}
div#debug a {
  color: #FFF;
}
div#debug:hover {
  opacity: 1;
}
@media only screen and (min-width: 576px) {
  div#debug span.mq:before {
    content: "small";
  }
}
@media only screen and (min-width: 768px) {
  div#debug span.mq:before {
    content: "medium";
  }
}
@media only screen and (min-width: 992px) {
  div#debug span.mq:before {
    content: "large";
  }
}
@media only screen and (min-width: 1200px) {
  div#debug span.mq:before {
    content: "wide";
  }
}

input, button, textarea, select {
  border: 1px solid transparent;
  outline: 0;
}

input, textarea, select, button {
  display: block;
  padding: 5px 10px;
  background: #FFF;
  border-radius: 4px;
  font: 1.3rem "Vollkorn", serif;
  color: #666;
}

input::placeholder, textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input.error, textarea.error, select.error {
  border-color: #C31;
}

button {
  background: #E1E1E1;
  padding: 15px 20px 13px 20px;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
button:hover {
  background: #DADADA;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font: 1.2rem "Unica One", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
h1 span.year, h1 span.code, h2 span.year, h2 span.code, h3 span.year, h3 span.code, h4 span.year, h4 span.code, h5 span.year, h5 span.code {
  opacity: 0.7;
}

p {
  margin: 0;
}

.faded {
  opacity: 0.2;
}

.hidden {
  display: none !important;
}

.accent {
  color: #C31 !important;
}

.uppercase {
  text-transform: uppercase;
}

.hide-handheld {
  display: none;
}
@media only screen and (min-width: 576px) {
  .hide-handheld {
    display: initial;
  }
}

.hide-small {
  display: initial;
}
@media only screen and (min-width: 576px) {
  .hide-small {
    display: none;
  }
}

.errorlist {
  padding: 15px 40px;
  background: #F5D8D1;
  font: 0.9rem "Vollkorn", serif;
  text-align: left;
  color: #C31;
  border-radius: 4px;
}
.errorlist > li {
  font-weight: bold;
}
.errorlist > li > ul {
  padding: 0 40px;
}
.errorlist > li > ul > li {
  font-weight: normal;
}

[data-href] {
  cursor: pointer;
}

div.meta {
  display: inline-block;
  overflow: auto;
  margin-top: 15px;
  font: 0.7rem "Monda", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
div.meta a {
  text-decoration: none;
  color: #C31;
}
div.meta .tag {
  float: left;
  margin: 5px 15px 0 0;
  color: rgba(0, 0, 0, 0.5);
}
div.meta .tag a, div.meta .tag span {
  position: relative;
  color: inherit;
}
div.meta .tag a:after, div.meta .tag span:after {
  content: ", ";
}
div.meta .tag a:last-child:after, div.meta .tag span:last-child:after {
  content: "";
}
div.meta .tag > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
div.meta .tag > i.zmdi {
  color: rgba(0, 0, 0, 0.2);
}
div.meta .tag > i.zmdi + a,
div.meta .tag > i.zmdi + span {
  margin-left: 7px;
}

div.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25vw;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  width: 100%;
}
div.gallery div.image {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
}
div.gallery div.image:hover {
  opacity: 1;
}
@media only screen and (min-width: 576px) {
  div.gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 18vw;
  }
}
@media only screen and (min-width: 768px) {
  div.gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 12vw;
  }
}
@media only screen and (min-width: 1200px) {
  div.gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 8vw;
  }
}

/* ========================================================================
	Skeleton
   ======================================================================== */
section#caption {
  overflow: auto;
  padding: 20px;
  background: #FFF;
  font: 12px/16px "Unica One", Helvetica, Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
}
section#caption nav {
  width: 100%;
}
section#caption nav a {
  text-decoration: none;
  color: #999;
}
section#caption nav a:first-of-type {
  font-weight: bold;
}
section#caption nav a:first-of-type + span {
  margin-left: 5px;
}
section#caption nav a:hover:not(.icon) {
  background-color: #DDD;
}
section#caption nav a.right {
  float: right;
  margin-left: 10px;
}
section#caption nav i.zmdi {
  color: #999;
}
section#caption nav i.zmdi:hover {
  color: #C31;
  cursor: pointer;
}

section#document {
  height: calc(100% - 56px);
}

section#page {
  min-height: calc(100% - 43px);
}

/* ========================================================================
	Header
   ======================================================================== */
section#header {
  width: 100%;
  padding: 5vw 5vw;
  background: #FFF;
  text-align: center;
}
section#header img.poster, section#header img.headshot, section#header img.photo {
  width: 180px;
  height: 267px;
  margin: 30px 0 50px 0;
  border-radius: 4px;
}
section#header h1 {
  font: 1.7rem "Unica One", Helvetica, Arial, sans-serif;
  color: #C31;
  text-transform: uppercase;
  text-align: center;
}
section#header h3, section#header h4 {
  color: #666;
}
section#header h3 {
  margin-top: 20px;
}
section#header h4 {
  margin-top: 20px;
  padding: 0 15%;
  font-family: "Unica One", Helvetica, Arial, sans-serif;
}
section#header h4:first-of-type {
  font-size: 0.9rem;
}
section#header h4:last-of-type {
  margin-bottom: 25px;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
}
section#header h4 i.zmdi {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.1);
}
section#header h4 a {
  display: inline-block;
  margin: 5px 15px 0 0;
  color: inherit;
  text-decoration: none;
}
section#header h4 a:hover {
  text-decoration: underline;
}
section#header h4 a:last-of-type {
  margin-right: 0;
}
section#header p {
  margin-top: 30px;
  font: 1.2rem "Vollkorn", serif;
  color: #666;
  text-align: justify;
  line-height: 1.7rem;
}
section#header p .source {
  color: #999;
  font-size: 12px;
  font-style: italic;
}
section#header p a {
  opacity: 0.8;
  color: #C31;
  text-decoration: none;
}
section#header p a:hover {
  opacity: 1;
}
section#header input, section#header textarea, section#header select {
  background: #EFEFEF;
}
section#header form[name=search] {
  margin: 30px -5vw -5vw -5vw;
}
section#header form[name=search] input[name=query] {
  border-radius: 0;
}
section#header form div.input-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}
section#header form div.input-icon > input {
  width: 100%;
  margin: 0;
  padding: 15px 65px 15px 20px;
}
section#header form div.input-icon > button {
  position: absolute;
  top: 13px;
  right: 25px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
section#header form div.input-icon > button:hover, section#header form div.input-icon > button:focus {
  color: rgba(0, 0, 0, 0.75);
}
section#header div.gallery {
  margin-top: 30px;
}
@media only screen and (min-width: 576px) {
  section#header {
    padding: 5vw 7vw;
  }
  section#header form[name=search] {
    margin: 30px 0 0 0;
  }
  section#header form[name=search] input[name=query] {
    border-radius: 4px;
  }
}
@media only screen and (min-width: 992px) {
  section#header {
    padding: 5vw 10vw;
  }
}
@media only screen and (min-width: 1200px) {
  section#header {
    padding: 5vw 25vw;
  }
}
section#header:empty {
  display: none;
}

[data-view=index] section#header {
  position: relative;
  padding-top: 0;
}
[data-view=index] section#header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/static/img/landing-header.jpg");
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
}
[data-view=index] section#header h1 {
  position: relative;
  display: none;
  font-size: 3rem;
  color: #FFF;
  border-bottom: 2px solid #FFF;
}
[data-view=index] section#header form[name=search] {
  margin-top: 0;
}
@media only screen and (min-width: 576px) {
  [data-view=index] section#header {
    padding-top: 5vw;
  }
  [data-view=index] section#header h1 {
    display: inline-block;
  }
  [data-view=index] section#header form[name=search] {
    margin-top: 30px;
  }
}

[data-view=person] section#header img.headshot {
  height: 180px;
  margin: 30px 0;
  border-radius: 50%;
  filter: grayscale(100%);
}
@media only screen and (min-width: 992px) {
  [data-view=person] section#header img.headshot {
    margin-top: 0;
  }
}

[data-view=location] section#header {
  padding-bottom: 60px;
}
[data-view=location] section#header img.photo {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 100%;
  margin-top: 0;
  border-radius: 4px;
}

[data-view=production][data-edit=true] section#header div.imageselect > .imageselect-buttons,
[data-view=location][data-edit=true] section#header div.imageselect > .imageselect-buttons,
[data-view=person][data-edit=true] section#header div.imageselect > .imageselect-buttons {
  bottom: 30px;
  padding: 0 5px;
}
[data-view=production][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn::before,
[data-view=location][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn::before,
[data-view=person][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn::before {
  background: rgba(255, 255, 255, 0.5);
  font: 0.7rem "Monda", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.75);
}
[data-view=production][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn:hover::before,
[data-view=production][data-edit=true] section#header div.imageselect.cleared > .imageselect-buttons .imageselect-btn.clear::before,
[data-view=location][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn:hover::before,
[data-view=location][data-edit=true] section#header div.imageselect.cleared > .imageselect-buttons .imageselect-btn.clear::before,
[data-view=person][data-edit=true] section#header div.imageselect > .imageselect-buttons .imageselect-btn:hover::before,
[data-view=person][data-edit=true] section#header div.imageselect.cleared > .imageselect-buttons .imageselect-btn.clear::before {
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.75);
}
[data-view=production][data-edit=true] section#header input[name=title], [data-view=production][data-edit=true] section#header input[name=address], [data-view=production][data-edit=true] section#header input[name=name],
[data-view=location][data-edit=true] section#header input[name=title],
[data-view=location][data-edit=true] section#header input[name=address],
[data-view=location][data-edit=true] section#header input[name=name],
[data-view=person][data-edit=true] section#header input[name=title],
[data-view=person][data-edit=true] section#header input[name=address],
[data-view=person][data-edit=true] section#header input[name=name] {
  width: 100%;
  margin: 0;
  font: 1.7rem "Unica One", Helvetica, Arial, sans-serif;
  color: #C31;
  text-align: center;
  text-transform: uppercase;
}
[data-view=production][data-edit=true] section#header input[name=name],
[data-view=location][data-edit=true] section#header input[name=name],
[data-view=person][data-edit=true] section#header input[name=name] {
  margin-bottom: 15px;
}
[data-view=production][data-edit=true] section#header input[name=release],
[data-view=location][data-edit=true] section#header input[name=release],
[data-view=person][data-edit=true] section#header input[name=release] {
  display: inline-block;
  margin: 5px 0 20px 0;
  font: 1.2rem "Unica One", Helvetica, Arial, sans-serif;
  text-align: center;
}
[data-view=production][data-edit=true] section#header textarea[name=summary], [data-view=production][data-edit=true] section#header textarea[name=description], [data-view=production][data-edit=true] section#header textarea[name=bio],
[data-view=location][data-edit=true] section#header textarea[name=summary],
[data-view=location][data-edit=true] section#header textarea[name=description],
[data-view=location][data-edit=true] section#header textarea[name=bio],
[data-view=person][data-edit=true] section#header textarea[name=summary],
[data-view=person][data-edit=true] section#header textarea[name=description],
[data-view=person][data-edit=true] section#header textarea[name=bio] {
  width: 100%;
  height: 330px;
  margin: 0 0 5px 0;
  resize: vertical;
  font: 1.2rem "Vollkorn", serif;
  color: #666;
  text-align: justify;
  line-height: 1.7rem;
}
[data-view=production][data-edit=true] section#header input[name$=_credit], [data-view=production][data-edit=true] section#header input[name=runtime], [data-view=production][data-edit=true] section#header input[name$=_id],
[data-view=location][data-edit=true] section#header input[name$=_credit],
[data-view=location][data-edit=true] section#header input[name=runtime],
[data-view=location][data-edit=true] section#header input[name$=_id],
[data-view=person][data-edit=true] section#header input[name$=_credit],
[data-view=person][data-edit=true] section#header input[name=runtime],
[data-view=person][data-edit=true] section#header input[name$=_id] {
  margin: 10px 0 15px 0;
  font: 0.8rem "Vollkorn", serif;
}
[data-view=production][data-edit=true] section#header input[name=runtime],
[data-view=location][data-edit=true] section#header input[name=runtime],
[data-view=person][data-edit=true] section#header input[name=runtime] {
  margin-top: 15px;
}
[data-view=production][data-edit=true] section#header div.people, [data-view=production][data-edit=true] section#header div.geography, [data-view=production][data-edit=true] section#header div.companies,
[data-view=location][data-edit=true] section#header div.people,
[data-view=location][data-edit=true] section#header div.geography,
[data-view=location][data-edit=true] section#header div.companies,
[data-view=person][data-edit=true] section#header div.people,
[data-view=person][data-edit=true] section#header div.geography,
[data-view=person][data-edit=true] section#header div.companies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
[data-view=production][data-edit=true] section#header div.people > .tagify, [data-view=production][data-edit=true] section#header div.geography > .tagify, [data-view=production][data-edit=true] section#header div.companies > .tagify,
[data-view=location][data-edit=true] section#header div.people > .tagify,
[data-view=location][data-edit=true] section#header div.geography > .tagify,
[data-view=location][data-edit=true] section#header div.companies > .tagify,
[data-view=person][data-edit=true] section#header div.people > .tagify,
[data-view=person][data-edit=true] section#header div.geography > .tagify,
[data-view=person][data-edit=true] section#header div.companies > .tagify {
  margin-bottom: 20px;
}
[data-view=production][data-edit=true] section#header div.people > .tagify:before, [data-view=production][data-edit=true] section#header div.geography > .tagify:before, [data-view=production][data-edit=true] section#header div.companies > .tagify:before,
[data-view=location][data-edit=true] section#header div.people > .tagify:before,
[data-view=location][data-edit=true] section#header div.geography > .tagify:before,
[data-view=location][data-edit=true] section#header div.companies > .tagify:before,
[data-view=person][data-edit=true] section#header div.people > .tagify:before,
[data-view=person][data-edit=true] section#header div.geography > .tagify:before,
[data-view=person][data-edit=true] section#header div.companies > .tagify:before {
  position: absolute;
  left: -4px;
  top: 13px;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;
  background: #EFEFEF;
}
[data-view=production][data-edit=true] section#header div.people > .tagify:after, [data-view=production][data-edit=true] section#header div.geography > .tagify:after, [data-view=production][data-edit=true] section#header div.companies > .tagify:after,
[data-view=location][data-edit=true] section#header div.people > .tagify:after,
[data-view=location][data-edit=true] section#header div.geography > .tagify:after,
[data-view=location][data-edit=true] section#header div.companies > .tagify:after,
[data-view=person][data-edit=true] section#header div.people > .tagify:after,
[data-view=person][data-edit=true] section#header div.geography > .tagify:after,
[data-view=person][data-edit=true] section#header div.companies > .tagify:after {
  position: absolute;
  left: 0;
  top: -8px;
  height: 16px;
  padding: 0 8px;
  content: attr(placeholder);
  border-radius: 4px;
  background: #EFEFEF;
  color: #ADADAD;
  font: 0.4rem "Monda", sans-serif;
  text-transform: uppercase;
}
[data-view=production][data-edit=true] section#header div.people > .tagify > label, [data-view=production][data-edit=true] section#header div.geography > .tagify > label, [data-view=production][data-edit=true] section#header div.companies > .tagify > label,
[data-view=location][data-edit=true] section#header div.people > .tagify > label,
[data-view=location][data-edit=true] section#header div.geography > .tagify > label,
[data-view=location][data-edit=true] section#header div.companies > .tagify > label,
[data-view=person][data-edit=true] section#header div.people > .tagify > label,
[data-view=person][data-edit=true] section#header div.geography > .tagify > label,
[data-view=person][data-edit=true] section#header div.companies > .tagify > label {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 0.8rem;
  color: #B3B3B3;
}
[data-view=production][data-edit=true] section#header div.people.companies, [data-view=production][data-edit=true] section#header div.geography.companies, [data-view=production][data-edit=true] section#header div.companies.companies,
[data-view=location][data-edit=true] section#header div.people.companies,
[data-view=location][data-edit=true] section#header div.geography.companies,
[data-view=location][data-edit=true] section#header div.companies.companies,
[data-view=person][data-edit=true] section#header div.people.companies,
[data-view=person][data-edit=true] section#header div.geography.companies,
[data-view=person][data-edit=true] section#header div.companies.companies {
  margin-top: 25px;
}
[data-view=production][data-edit=true] section#header div.people.geography, [data-view=production][data-edit=true] section#header div.geography.geography, [data-view=production][data-edit=true] section#header div.companies.geography,
[data-view=location][data-edit=true] section#header div.people.geography,
[data-view=location][data-edit=true] section#header div.geography.geography,
[data-view=location][data-edit=true] section#header div.companies.geography,
[data-view=person][data-edit=true] section#header div.people.geography,
[data-view=person][data-edit=true] section#header div.geography.geography,
[data-view=person][data-edit=true] section#header div.companies.geography {
  grid-template-columns: 40% 1fr 1fr;
}
[data-view=production][data-edit=true] section#header div.people.people > .tagify:first-of-type, [data-view=production][data-edit=true] section#header div.geography.people > .tagify:first-of-type, [data-view=production][data-edit=true] section#header div.companies.people > .tagify:first-of-type,
[data-view=location][data-edit=true] section#header div.people.people > .tagify:first-of-type,
[data-view=location][data-edit=true] section#header div.geography.people > .tagify:first-of-type,
[data-view=location][data-edit=true] section#header div.companies.people > .tagify:first-of-type,
[data-view=person][data-edit=true] section#header div.people.people > .tagify:first-of-type,
[data-view=person][data-edit=true] section#header div.geography.people > .tagify:first-of-type,
[data-view=person][data-edit=true] section#header div.companies.people > .tagify:first-of-type {
  grid-column: 1/-1;
}
[data-view=production][data-edit=true] section#header div.external_ids,
[data-view=location][data-edit=true] section#header div.external_ids,
[data-view=person][data-edit=true] section#header div.external_ids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  color: #666;
  text-align: left;
  font-size: 0.6rem;
  font-family: "Unica One", Helvetica, Arial, sans-serif;
}
[data-view=production][data-edit=true] section#header div.external_ids > div, [data-view=production][data-edit=true] section#header div.external_ids input,
[data-view=location][data-edit=true] section#header div.external_ids > div,
[data-view=location][data-edit=true] section#header div.external_ids input,
[data-view=person][data-edit=true] section#header div.external_ids > div,
[data-view=person][data-edit=true] section#header div.external_ids input {
  display: inline-block;
  width: 100%;
}
[data-view=production][data-edit=true] section#header div.external_ids input,
[data-view=location][data-edit=true] section#header div.external_ids input,
[data-view=person][data-edit=true] section#header div.external_ids input {
  margin: 0 0 3px 0;
  height: 32px;
}
[data-view=production][data-edit=true] section#header div.external_ids a,
[data-view=location][data-edit=true] section#header div.external_ids a,
[data-view=person][data-edit=true] section#header div.external_ids a {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
}
[data-view=production][data-edit=true] section#header div.external_ids a:hover,
[data-view=location][data-edit=true] section#header div.external_ids a:hover,
[data-view=person][data-edit=true] section#header div.external_ids a:hover {
  color: #666;
}

/* ========================================================================
	Menu
   ======================================================================== */
nav#menu {
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.1);
  font: 0.7rem "Unica One", Helvetica, Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.3);
  height: 2.2rem;
  line-height: 2.2rem;
}
nav#menu span.group {
  margin-right: 25px;
}
nav#menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
nav#menu a:hover {
  color: rgba(255, 255, 255, 0.7);
}
nav#menu select {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.3);
  font: inherit;
  color: rgba(255, 255, 255, 0.7);
}
nav#menu select option {
  background-color: #6f6e6e;
}
nav#menu:empty {
  display: none;
}

/* ========================================================================
	Content
   ======================================================================== */
section#content {
  width: 100%;
  padding: 5vw 5vw;
  color: rgba(255, 255, 255, 0.8);
}
section#content.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  grid-auto-rows: 1fr;
}
section#content.grid .grid-item {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #181818;
}
section#content.grid .grid-item.faded {
  opacity: 0.2;
}
section#content.grid .grid-item:hover {
  border: 2px solid #9E9E9E;
}
section#content.grid .grid-item img {
  display: inline;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
section#content.grid .grid-item div.cover {
  flex: 0 1 auto;
  height: 15vw;
  background: #666;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section#content.grid .grid-item div.details {
  flex: 1 1 auto;
  padding: 10px 15px;
  background: #FFF;
}
section#content.grid .grid-item div.details h1, section#content.grid .grid-item div.details h2 {
  font-family: "Unica One", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
section#content.grid .grid-item div.details h1 {
  margin: 0;
  font-size: 1rem;
  color: #C31;
}
section#content.grid .grid-item div.details h2 {
  margin: 5px 0;
  font-size: 0.8rem;
  color: #666;
}
section#content.grid .grid-item div.details div.meta {
  margin: 0;
}
section#content div#references {
  display: none;
  margin: 100px 3vw 30px 3vw;
}
section#content div#references div.reference {
  position: relative;
  margin-bottom: 50px;
  padding: 0 20px;
}
section#content div#references div.reference:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  color: #36211C;
  font-family: "Material-Design-Iconic-Font";
}
section#content div#references div.reference h1 {
  color: rgba(255, 255, 255, 0.1);
  font-style: italic;
}
section#content div#references div.reference h1 a {
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
section#content div#references div.reference h1 a:hover {
  color: rgba(255, 255, 255, 0.15);
}
section#content div#references div.reference p {
  margin-top: 0;
  font: 0.8rem "Noto Serif", serif;
  font-style: italic;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.1);
}
section#content div#references div.reference p .source {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.075);
}
@media only screen and (min-width: 576px) {
  section#content {
    padding: 5vw 7vw;
  }
}
@media only screen and (min-width: 768px) {
  section#content.grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  section#content {
    padding: 5vw 10vw;
  }
  section#content.grid {
    grid-template-columns: repeat(5, 1fr);
  }
  section#content.grid .grid-item > div.details h1 {
    font-size: 1.3rem;
  }
  section#content.grid .grid-item > div.details h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  section#content {
    padding: 5vw 25vw;
  }
  section#content.grid {
    padding: 5vw 15vw;
  }
}
@media only screen and (min-width: 2045px) {
  section#content.grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
section#content:empty {
  display: none;
}

[data-view=locations] section#content {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 576px) {
  [data-view=locations] section#content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  [data-view=locations] section#content {
    grid-template-columns: repeat(3, 1fr);
  }
  [data-view=locations] section#content .grid-item.location div.cover {
    height: 10vw;
  }
}
[data-view=people] section#content {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 576px) {
  [data-view=people] section#content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  [data-view=people] section#content {
    grid-template-columns: repeat(4, 1fr);
  }
  [data-view=people] section#content .grid-item.person div.cover {
    height: 10vw;
  }
}
[data-view=production] section#content,
[data-view=location] section#content {
  padding: 5vw calc(5vw - 3vw);
}
[data-view=production] section#content div.scene-block,
[data-view=location] section#content div.scene-block {
  position: relative;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0 3vw;
  border-left: 2px solid transparent;
}
[data-view=production] section#content div.scene-block.add,
[data-view=location] section#content div.scene-block.add {
  opacity: 0.3;
  font: 1rem "Unica One", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
[data-view=production] section#content div.scene-block.add:hover,
[data-view=location] section#content div.scene-block.add:hover {
  opacity: 1;
}
[data-view=production] section#content div.scene-block.add > i.zmdi,
[data-view=location] section#content div.scene-block.add > i.zmdi {
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.4);
}
[data-view=production] section#content div.scene-block:before,
[data-view=location] section#content div.scene-block:before {
  position: absolute;
  top: -5px;
  left: 0;
  display: none;
  margin-left: -21px;
  width: 40px;
  height: 45px;
  content: "";
  background: #1A1919;
  font: normal normal normal 2rem/1 "Material-Design-Iconic-Font";
  text-align: center;
  color: rgba(255, 255, 255, 0.05);
}
[data-view=production] section#content div.scene-block h2,
[data-view=location] section#content div.scene-block h2 {
  margin-top: 2px;
}
[data-view=production] section#content div.scene-block h2 a,
[data-view=location] section#content div.scene-block h2 a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
[data-view=production] section#content div.scene-block h2 a:hover,
[data-view=location] section#content div.scene-block h2 a:hover {
  opacity: 1;
}
[data-view=production] section#content div.scene-block div.scenes,
[data-view=location] section#content div.scene-block div.scenes {
  margin: 25px 0 0 0;
}
[data-view=production] section#content div.scene-block div.scenes div.scene,
[data-view=location] section#content div.scene-block div.scenes div.scene {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
[data-view=production] section#content div.scene-block div.scenes div.scene div.shot,
[data-view=location] section#content div.scene-block div.scenes div.scene div.shot {
  position: relative;
  margin: 0 0 25px 0;
  width: calc(50% - 15px);
}
[data-view=production] section#content div.scene-block div.scenes div.scene div.shot.double,
[data-view=location] section#content div.scene-block div.scenes div.scene div.shot.double {
  width: 100%;
}
[data-view=production] section#content div.scene-block div.scenes div.scene div.shot img,
[data-view=location] section#content div.scene-block div.scenes div.scene div.shot img {
  display: block;
  width: 100%;
  border-radius: 4px;
}
[data-view=production] section#content div.scene-block div.scenes div.scene div.shot .timecode,
[data-view=location] section#content div.scene-block div.scenes div.scene div.shot .timecode {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 1px 7px;
  border-bottom-right-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
  font: 0.6rem "Monda", sans-serif;
  color: rgba(255, 255, 255, 0.4);
}
[data-view=production] section#content div.scene-block div.scenes div.scene div.shot:hover .timecode,
[data-view=location] section#content div.scene-block div.scenes div.scene div.shot:hover .timecode {
  display: inline-block;
}
[data-view=production] section#content div.scene-block div.scenes div.scene p,
[data-view=location] section#content div.scene-block div.scenes div.scene p {
  margin: -15px 0 0 0;
  font: 0.8rem "Noto Serif", serif;
  color: rgba(255, 255, 255, 0.2);
}
[data-view=production] section#content div.scene-block div.scenes div.scene:last-of-type,
[data-view=location] section#content div.scene-block div.scenes div.scene:last-of-type {
  margin-bottom: 0;
}
[data-view=production] section#content div.scene-block div.scenes div.scene:last-of-type > p,
[data-view=location] section#content div.scene-block div.scenes div.scene:last-of-type > p {
  margin-bottom: 25px;
}
[data-view=production] section#content div.scene-block div.scenes div.scene:before,
[data-view=location] section#content div.scene-block div.scenes div.scene:before {
  position: absolute;
  top: -5px;
  left: calc(-3vw + -9px);
  display: none;
  width: 16px;
  line-height: 30px;
  content: "";
  color: rgba(255, 255, 255, 0.05);
  font-family: "Material-Design-Iconic-Font";
  background: #1A1919;
  text-align: center;
}
[data-view=production] section#content div.scene-block div.scenes div.scene.uncertain:before,
[data-view=location] section#content div.scene-block div.scenes div.scene.uncertain:before {
  content: "";
  color: #C31;
}
[data-view=production] section#content div.scene-block div.details,
[data-view=location] section#content div.scene-block div.details {
  padding: 20px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 4px;
}
[data-view=production] section#content div.scene-block div.details.top,
[data-view=location] section#content div.scene-block div.details.top {
  margin: 25px 0 30px 0;
}
[data-view=production] section#content div.scene-block div.details p,
[data-view=location] section#content div.scene-block div.details p {
  margin: 0;
  font: 0.8rem "Noto Serif", serif;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
[data-view=production] section#content div.scene-block div.details p .source,
[data-view=location] section#content div.scene-block div.details p .source {
  color: rgba(255, 255, 255, 0.1);
  font-size: 0.7rem;
  font-style: italic;
}
[data-view=production] section#content div.scene-block div.details p + div.gallery,
[data-view=location] section#content div.scene-block div.details p + div.gallery {
  margin-top: 20px;
}
[data-view=production] section#content div.scene-block div.details div.gallery,
[data-view=location] section#content div.scene-block div.details div.gallery {
  margin-top: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 6vw;
}
[data-view=production] section#content div.scene-block div.details div.gallery div.image,
[data-view=location] section#content div.scene-block div.details div.gallery div.image {
  opacity: 0.5;
}
[data-view=production] section#content div.scene-block div.details div.gallery div.image:hover,
[data-view=location] section#content div.scene-block div.details div.gallery div.image:hover {
  opacity: 1;
}
[data-view=production] section#content div.scene-block div.details.compact p,
[data-view=location] section#content div.scene-block div.details.compact p {
  font-size: 0.7rem;
  line-height: 1.2rem;
}
[data-view=production] section#content div.scene-block div.details.compact p .source,
[data-view=location] section#content div.scene-block div.details.compact p .source {
  font-size: 0.5rem;
}
[data-view=production] section#content div.scene-block.uncertain h2,
[data-view=location] section#content div.scene-block.uncertain h2 {
  color: #C31;
}
[data-view=production] section#content div.scene-block.uncertain h2:after,
[data-view=location] section#content div.scene-block.uncertain h2:after {
  margin-left: 10px;
  content: "";
  font-family: "Material-Design-Iconic-Font";
}
[data-view=production] section#content div.scene-block.location,
[data-view=location] section#content div.scene-block.location {
  padding-bottom: 25px;
}
[data-view=production] section#content div.scene-block.location:before,
[data-view=location] section#content div.scene-block.location:before {
  content: "";
}
[data-view=production] section#content div.scene-block.production:before,
[data-view=location] section#content div.scene-block.production:before {
  content: "";
}
[data-view=production] section#content div.scene-block.production div.details,
[data-view=location] section#content div.scene-block.production div.details {
  display: flex;
}
[data-view=production] section#content div.scene-block.production div.details img.poster,
[data-view=location] section#content div.scene-block.production div.details img.poster {
  flex: 0 1 auto;
  display: block;
  height: 100px;
  border-radius: 4px;
}
[data-view=production] section#content div.scene-block.production div.details div.summary,
[data-view=location] section#content div.scene-block.production div.details div.summary {
  flex: 1 1 auto;
  margin: 0 0 0 20px;
}
[data-view=production] section#content div.scene-block.production div.details div.summary h3,
[data-view=location] section#content div.scene-block.production div.details div.summary h3 {
  font-size: 0.6rem;
  margin-top: 7px;
  opacity: 0.3;
}
@media only screen and (min-width: 576px) {
  [data-view=production] section#content,
[data-view=location] section#content {
    padding: 5vw calc(7vw - 3vw);
  }
  [data-view=production] section#content div.scene-block,
[data-view=location] section#content div.scene-block {
    border-color: rgba(255, 255, 255, 0.02);
  }
  [data-view=production] section#content div.scene-block:before,
[data-view=production] section#content div.scene-block div.scenes div.scene:before,
[data-view=location] section#content div.scene-block:before,
[data-view=location] section#content div.scene-block div.scenes div.scene:before {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  [data-view=production] section#content,
[data-view=location] section#content {
    padding: 5vw calc(10vw - 3vw);
  }
  [data-view=production] section#content div.scene-block div.description div.gallery,
[data-view=location] section#content div.scene-block div.description div.gallery {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 7vw;
  }
}
@media only screen and (min-width: 1200px) {
  [data-view=production] section#content,
[data-view=location] section#content {
    padding: 5vw calc(25vw - 3vw);
  }
  [data-view=production] section#content div.scene-block div.description div.gallery,
[data-view=location] section#content div.scene-block div.description div.gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 5vw;
  }
}

[data-view=import_production] section#content div#focused div.production, [data-view=import_production] section#content div#focused div.person,
[data-view=import_person] section#content div#focused div.production,
[data-view=import_person] section#content div#focused div.person {
  margin-bottom: 5vw;
}
[data-view=import_production] section#content div.production, [data-view=import_production] section#content div.person,
[data-view=import_person] section#content div.production,
[data-view=import_person] section#content div.person {
  margin-bottom: 4vw;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0;
}
[data-view=import_production] section#content div.production > .poster, [data-view=import_production] section#content div.production > .headshot, [data-view=import_production] section#content div.person > .poster, [data-view=import_production] section#content div.person > .headshot,
[data-view=import_person] section#content div.production > .poster,
[data-view=import_person] section#content div.production > .headshot,
[data-view=import_person] section#content div.person > .poster,
[data-view=import_person] section#content div.person > .headshot {
  width: 100px;
  height: 150px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.025);
}
[data-view=import_production] section#content div.production > .poster > img, [data-view=import_production] section#content div.production > .headshot > img, [data-view=import_production] section#content div.person > .poster > img, [data-view=import_production] section#content div.person > .headshot > img,
[data-view=import_person] section#content div.production > .poster > img,
[data-view=import_person] section#content div.production > .headshot > img,
[data-view=import_person] section#content div.person > .poster > img,
[data-view=import_person] section#content div.person > .headshot > img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
[data-view=import_production] section#content div.production > .details h2 span.add, [data-view=import_production] section#content div.person > .details h2 span.add,
[data-view=import_person] section#content div.production > .details h2 span.add,
[data-view=import_person] section#content div.person > .details h2 span.add {
  float: right;
  opacity: 0.7;
  color: #4CAF50;
}
[data-view=import_production] section#content div.production > .details h2 span.add:hover, [data-view=import_production] section#content div.person > .details h2 span.add:hover,
[data-view=import_person] section#content div.production > .details h2 span.add:hover,
[data-view=import_person] section#content div.person > .details h2 span.add:hover {
  opacity: 1;
  cursor: pointer;
}
[data-view=import_production] section#content div.production > .details h4, [data-view=import_production] section#content div.person > .details h4,
[data-view=import_person] section#content div.production > .details h4,
[data-view=import_person] section#content div.person > .details h4 {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
[data-view=import_production] section#content div.production > .details p, [data-view=import_production] section#content div.person > .details p,
[data-view=import_person] section#content div.production > .details p,
[data-view=import_person] section#content div.person > .details p {
  margin: 2px 10vw 0 0;
  font-family: "Noto Serif", serif;
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1.3rem;
}
[data-view=import_production] section#content div.production > .details .meta .tag, [data-view=import_production] section#content div.person > .details .meta .tag,
[data-view=import_person] section#content div.production > .details .meta .tag,
[data-view=import_person] section#content div.person > .details .meta .tag {
  color: rgba(255, 255, 255, 0.5);
}
[data-view=import_production] section#content div.production > .details .meta .tag > i.zmdi, [data-view=import_production] section#content div.person > .details .meta .tag > i.zmdi,
[data-view=import_person] section#content div.production > .details .meta .tag > i.zmdi,
[data-view=import_person] section#content div.person > .details .meta .tag > i.zmdi {
  color: rgba(255, 255, 255, 0.2);
}
[data-view=import_production] section#content div.production.minified > .poster, [data-view=import_production] section#content div.production.minified > .headshot, [data-view=import_production] section#content div.person.minified > .poster, [data-view=import_production] section#content div.person.minified > .headshot,
[data-view=import_person] section#content div.production.minified > .poster,
[data-view=import_person] section#content div.production.minified > .headshot,
[data-view=import_person] section#content div.person.minified > .poster,
[data-view=import_person] section#content div.person.minified > .headshot {
  width: 60px;
  height: 90px;
}

/* ========================================================================
	Footer
   ======================================================================== */
footer {
  width: 100%;
  padding: 15px;
  font: 0.7rem "Unica One", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.025);
}
footer a {
  color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.1);
}

/* ========================================================================
	Cover image
   ======================================================================== */
div.cover-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 16px 16px 16px;
  background: #FFF;
}
div.cover-image a {
  color: inherit;
  text-decoration: none;
}
div.cover-image a:hover {
  text-decoration: underline;
}
div.cover-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
div.cover-image > .heading {
  position: absolute;
  top: 15px;
  left: 30px;
}
div.cover-image > .heading h1 {
  font-size: 1.5rem;
  color: #FFF;
}
div.cover-image > .heading h2 {
  margin-top: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}
div.cover-image > .caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: auto;
  text-align: left;
  color: #FFF;
}
div.cover-image > .caption h1 {
  margin: 0;
  font-size: 0.8rem;
}
div.cover-image > .caption h2 {
  margin: 3px 0 0 0;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

/* ========================================================================
	Various
   ======================================================================== */
div#lightbox div.lb-details {
  font-family: "Monda", sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}
#map div.leaflet-top input, #map div.leaflet-top button {
  display: initial;
  margin: initial;
  padding: initial;
  font-size: initial;
  font-family: initial;
}

.my-label {
  position: absolute;
  /*width:1000px;*/
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border: 0;
  color: #FFF;
}

div.leaflet-control-attribution {
  background: rgba(255, 255, 255, 0.05) !important;
  border-top-left-radius: 3px;
  color: rgba(255, 255, 255, 0.3);
  bottom: 0;
}

div.leaflet-control-attribution > a {
  color: rgba(0, 255, 0, 0.2);
}

.leaflet-shotmarker {
  width: auto !important;
  height: auto !important;
  /*background: #f30e5c; border-radius: 50%; */
}

.leaflet-shotmarker > img {
  width: 20px;
  height: 12px;
  border-radius: 3px;
}

/* Leaflet modal */
div.leaflet-modal div.modal-content div.modal-inner {
  overflow: auto;
  border-radius: 2px;
  background: #FFF;
  font: 0.8rem "Vollkorn", serif;
  color: #666;
  text-align: justify;
}
div.leaflet-modal div.modal-content div.modal-inner a {
  text-decoration: none;
}
div.leaflet-modal div.modal-content div.modal-inner div.photo {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 10px 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
}
div.leaflet-modal div.modal-content div.modal-inner h1 {
  display: inline;
  margin-right: 15px;
  font: 1.2rem "Unica One", Helvetica, Arial, sans-serif;
  color: #C31;
  text-transform: uppercase;
  text-align: left;
}
div.leaflet-modal div.modal-content div.modal-inner h3 {
  margin: 5px 0 10px 0;
  font-size: 1rem;
  color: #666;
  text-align: left;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects {
  margin-top: 20px;
  clear: both;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.production {
  display: flex;
  margin-top: 15px;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.production img.poster {
  flex: 0 1 auto;
  width: 25px;
  height: 40px;
  margin-right: 10px;
  border-radius: 2px;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.production div.title {
  flex: 1 1 auto;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.production div.title h2 {
  font-size: 1rem;
  color: #666;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.production div.title h3 {
  font-size: 0.7rem;
  color: #666;
}
div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.gallery {
  margin-top: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 11vw;
}
@media only screen and (min-width: 768px) {
  div.leaflet-modal div.modal-content div.modal-inner div.related-objects div.gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 8vw;
  }
}
div.leaflet-modal div.modal-content div.modal-inner.object-select {
  display: flex;
}
div.leaflet-modal div.modal-content div.modal-inner.object-select h1 {
  flex: 1 0 auto;
  line-height: 43px;
}
div.leaflet-modal div.modal-content div.modal-inner.object-select select {
  flex: 1 1 auto;
  width: 100%;
  margin-right: 15px;
}
div.leaflet-modal div.modal-content div.modal-inner.object-select button {
  flex: 1 1 auto;
  padding: 5px 10px;
  margin-right: 15px;
}
@media only screen and (min-width: 768px) {
  div.leaflet-modal div.modal-content {
    width: 500px;
  }
}
.location-details-control > div.location input,
.location-details-control > div.location textarea {
  margin: 10px;
  background: #EFEFEF;
  padding: 3px 5px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  border-bottom: 1px solid #CCC;
}

.location-details-control > div.location input {
  float: left;
  width: 130px;
  margin-right: 0;
}

.location-details-control > div.location input[type=button] {
  width: 50px;
  cursor: pointer;
  border: 1px solid #CCC;
}

.location-details-control > div.location textarea {
  width: calc(100% - 20px);
  height: 95px;
  margin-top: 0;
}

.location-details-control > div.location input:hover,
.location-details-control > div.location input:focus,
.location-details-control > div.location textarea:hover,
.location-details-control > div.location textarea:focus {
  border-color: #C31;
}

/*# sourceMappingURL=main.css.map */
