.tagify, .tagify__dropdown  {
    font: 0.8rem "Vollkorn", serif; color: #666;
}

.tagify {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #EFEFEF;
    border-radius: 4px;
    padding: 0 0 5px 0;
    cursor: text;
}
.tagify + input.tagify, .tagify + textarea.tagify { display: none; }

.tagify tag {
    position: relative; display: inline-block;
    height: 32px; max-height: 32px;
    margin: 5px 0 0 5px;
    z-index: 1;
    cursor: default;
}

div.tag-content {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    padding: 6px 23px 4px 5px;
    border-radius: 4px;
    user-select: none;
    background: rgba(0, 0, 0, 0.05);
}
div.tag-content > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top
}
div.tag-content > img { 
    height: 20px; width: 20px; 
    border-radius: 50%;
}
div.tag-content > span { 
    height: 20px; line-height: 20px;
    margin: 1px 0 0 5px;
}

.tagify tag > div::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    left: 0; top: 0;
    right: 0; bottom: 0;
    z-index: -1;
    pointer-events: none;
}

.tagify tag:hover:not([readonly]) div::before {
    top: -2px; right: -2px;
    bottom: -2px; left: -2px;
}

.tagify tag.tagify--hide {
    width: 0 !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
}

.tagify tag[readonly] x {display: none; }
.tagify tag[readonly] > div { padding: .3em .5em }
.tagify tag.tagify--notAllowed > div { background: pink; }
.tagify tag.tagify--notAllowed img { display: none; }
.tagify tag.tagify--notAllowed div > * { opacity: .5 }

.tagify tag x {
    width: 14px;
    height: 14px;
    text-align: center;
    position: absolute;
    z-index: 1;
    right: calc(.5em - 2px);
    top: calc(50% - 8px);
    cursor: pointer;
}
.tagify tag x::after { content: '\00D7'; }
.tagify tag x:hover { color: #C31; }
.tagify tag x:hover + div > * { opacity: .5; }

.tagify__input {
    position: relative;
    margin: 5px 5px 0 5px; padding: 0 0 0 5px; 
    height: 32px; max-height: 32px;
    line-height: 32px; border-radius: 4px;
}
.tagify__input:focus { outline: 0; }
.tagify__input:focus::before { display: none; }
.tagify__input:focus:empty::before { display: inline-block; }

.tagify__input::before {
    position: absolute; top: 3px;
    height: 20px; line-height: 20px;
    content: ''; z-index: 1; opacity: 0;
    white-space: nowrap; pointer-events: none;
}
.tagify__input::after {
    content: attr(data-suggest);
    color: #000;
    opacity: .3;
    pointer-events: none
}

.tagify__input tag { margin: 0 2.5px; }
.tagify__input tag > div { padding-top: 0; padding-bottom: 0 }
.tagify__input tag > div::before { top: -3px; bottom: -3px; }
.tagify__input tag:hover:not([readonly]) > div::before { 
    top: -3px; bottom: -3px; left: 0; right: 0
}
.tagify--mix .tagify__input {
    padding: 5px; margin: 0;
    width: 100%; height: 100%
}

/* Dropdown (suggestions) */
.tagify__dropdown {
    position: absolute; max-height: 300px;
    overflow: auto; z-index: 999;
    background: #FFF;
    padding: 0 5px 5px 5px;
    border: 1px solid #cd3714;
    border-radius: 4px;
}
.tagify__dropdown__item {
    margin: 5px 5px 0 0;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}
.tagify__dropdown__item > div { padding: 6px 5px 4px 5px; }
.tagify__dropdown__item--active { background: #FFF6C6; }